<h1 style="text-align:center">List of All Recipes</h1>
<a class="btn btn-outline-dark btn-lg" href="recipes/new" role="button">Create New</a>
<hr>
<div align="center">
    <%= will_paginate @recipes %>
</div>
<%= render "recipes", obj: @recipes %>