<div class="p-5 text-center bg-image rounded-3 center" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 400px;
  ">
  <div class="mask" >
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-white">
        <h1 class="mb-3">Welcome to Recipes</h1>
        <h4 class="mb-3">The best Recipes sharing app!</h4>
        <br>
        <br>
        <br>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button">Login or Signup</a>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <h3>Recipe 1</h3>
      <p> 3recipes is an online platform that provides a wide range of recipes for food lovers around the world. The platform is designed to offer easy access to various recipes for all types of meals, from breakfast to dinner, and everything in between. The site boasts a user-friendly interface that allows visitors to easily navigate and find the recipes they need. The platform also offers a range of filters, including dietary restrictions and preferred ingredients, to help users find the perfect recipe that meets their needs.</p>
      <a class="btn btn-outline-dark btn-lg" href="#!" role="button">View more </a>
    </div>
    <div class="col">
      <h3>Recipe 2</h3>
      <p> 3recipes is an online platform that provides a wide range of recipes for food lovers around the world. The platform is designed to offer easy access to various recipes for all types of meals, from breakfast to dinner, and everything in between. The site boasts a user-friendly interface that allows visitors to easily navigate and find the recipes they need. The platform also offers a range of filters, including dietary restrictions and preferred ingredients, to help users find the perfect recipe that meets their needs.</p>
      <a class="btn btn-outline-dark btn-lg" href="#!" role="button">View more </a>
    </div>
    <div class="col">
      <h3>Recipe 3</h3>
      <p> 3recipes is an online platform that provides a wide range of recipes for food lovers around the world. The platform is designed to offer easy access to various recipes for all types of meals, from breakfast to dinner, and everything in between. The site boasts a user-friendly interface that allows visitors to easily navigate and find the recipes they need. The platform also offers a range of filters, including dietary restrictions and preferred ingredients, to help users find the perfect recipe that meets their needs.</p>
      <a class="btn btn-outline-dark btn-lg" href="#!" role="button">View more </a>
    </div>
  </div>
</div>